{{ define "title" }}Roles{{end}}
{{ define "content"}}
    <h2>Roles</h2>
    {{if not .}}
        No resources found.
    {{else}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Namespace</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
        {{range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Namespace}}</td>
                <td>{{.CreationTimestamp}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    {{end}}
{{end}}
