{{define "title"}}{{.ServiceAccount.Name}} Details{{end}}

{{define "content"}}
    <h2>{{.ServiceAccount.Name}}</h2>

    {{ if .RoleBindings }}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Namespace</th>
                    <th>Role name</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
            {{range .RoleBindings}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Namespace}}</td>
                <td>{{.RoleRef.Name}}</td>
                <td>{{.CreationTimestamp}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    {{else}}
        No role bindings found.
    {{end}}
{{end}}