{{ define "title" }}Service Accounts {{end}}
{{ define "content"}}

    <h2>Service accounts</h2>
    <div>
        <a class="btn btn-default" href="/serviceaccounts/create">Create Service Account</a>
    </div><br>
    {{if not .}}
        No resources found.
    {{else}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Namespace</th>
                <th>Secrets</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
        {{range .}}
            <tr>
                <td><a href="/serviceaccounts/{{.Namespace}}/{{.Name}}">{{.Name}}</a></td>
                <td>{{.Namespace}}</td>
                <td>{{len .Secrets}}</td>
                <td>{{.CreationTimestamp}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    {{end}}
{{end}}
